{% extends 'temp2.html'%}
{% block body %}

<body>

  <form id="form1" name="form1" method="post" action="/editcontactbook_post">
  <table width="500" border="1" height="200" align="center"><br>
     <h4 align="center" style="color:green"><b>Edit Contact Book</b></h4><br><br>
    <tr>
      <td style="padding: 15px">Department</td>
      <td style="padding: 15px"><input type="text" name="textfield" value="{{data['department']}}"  required/><input type="hidden" name="ciid" value="{{data['contactbookid']}}" required>
    </tr>
    <tr>
      <td style="padding: 15px">Name</td>
      <td style="padding: 15px"><input type="text" name="textfield2" value="{{data['name']}}" required/></td>
    </tr>
    <tr>
      <td style="padding: 15px">Email id </td>
      <td style="padding: 15px">&nbsp;<input type="text" name="textfield3" value="{{data['emailid']}}" required /></td>
    </tr>
    <tr>
      <td style="padding: 15px">Phone Number</td>
      <td style="padding: 15px"><input type="number" name="textfield4" value="{{data['phoneno']}}" required /></td>
    </tr>
    <tr>
      <td style="padding: 15px" colspan="2" align="center"><input type="submit" name="Submit" value="save changes" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
