{% extends 'temp2.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="228" border="1">
    <tr>
      <td width="17">Department </td>
      <td width="144"><select name="select">
        </select>      </td>
      <td width="45"><input type="submit" name="Submit" value="Filter" /></td>
    </tr>
  </table>
  <input type="submit" name="Submit22" value="Add" />
  <table width="200" border="1">
      {% for i in data %}
       <tr>
      <td colspan="2">Department</td>
        <td>{{ i["department"]}}</td>
    </tr>
    <tr>
      <td colspan="2">Name</td>
        <td>{{ i["name"]}}</td>
    </tr>

<tr>    <td colspan="2">
        Emailid</td>
    <td>{{ i["emailid"]}}</td>
</tr>
<tr>    <td colspan="2">
     Phone number
         </td>
    <td>{{ i["phoneno"]}}</td>
    </tr>
      <td><a href="#">Edit</a></td>
      <td><a href="#">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
{% end block %}
